<link rel="stylesheet" type="text/css" href="/styles/home.css">
<h1 id = "title"> The Blog Generator</h1>
<ul class = "list">
<% posts.forEach(post => { %>
    <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
    <!-- display a button with delete this post. If this button is pressed, it should send a delete request to the server with the post id as a parameter-->
    <form action="/delete_posts/<%= post.id %>" method="POST">
        <input type="submit" value="Delete Post">
    </form>
  <% }); %>
</ul>
  <!-- Text create a post with a link to post_creator.ejs-->
  <a href="/create" id = "create">Create a Post</a>
